<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Varnish Configuration</title>
        <title lang="de-DE">Varnish Einstellungen</title>
        <input-field>
            <name>varnishHost</name>
            <label>Varnish URL for Http Invalidation</label>
            <label lang="de-DE">Varnish URL für HTTP Invalidierung</label>
        </input-field>
    </card>
</config>
